# Dependencies
node_modules/
/dist

# Environment files
.env
.env.local
.env.*.local

# IDE files
.vscode/
.idea/

# Logs
*.log
npm-debug.log*

# Build files
/build
/dist

# Cache
.cache/
.npm/

# System Files
.DS_Store
Thumbs.db